[Unit]
Description=Alsa-USB Boottime Ops
Documentation=https://github.com/SaberMage/Alsa-USB
## Ensure dependencies in place
Wants=local-fs.target
#After=console-setup.service
Before=asplashscreen.service systemd-udev-trigger.service alsa-usb.service

DefaultDependencies=no

#Wants=alsa-restore.service alsa-state.service
ConditionPathIsDirectory=/opt/alsa-usb
ConditionPathExists=/opt/alsa-usb/cur-scard.sh

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
Type=oneshot
## here we can set custom environment variables
#Environment=AUTOSSH_GATETIME=0
#Load in + reset sound card vars
ExecStart=+/opt/alsa-usb/alsa-usb-init.sh
# ExecStop=+/usr/bin/pkill -f alsa-usb-mgr
# don't use 'nobody' if your script needs to access user files
# (if User is not set the service will run as root) User=nobody

# Useful during debugging; remove it once the service is working
#StandardOutput=console

## Ensure this starts up at boot
[Install]
WantedBy=sysinit.target
